body,
html {
  font-size: smaller;
}
div.toast-container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  bottom: 0;
}

div.dropdown a.dropdown-item i {
  margin-right: 0.5rem;
}
div#dlg-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  * {
    display: block;
  }
  > {
    label {
      color: #666;
    }
    div.progress {
      margin-top: 1em;
      width: 20em;
      > div.progress-bar {
        background: #666;
      }
    }
  }
}

.dataTables_wrapper {
  div.dataTables_length {
    label {
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
    }
  }
}
div.dataTables_wrapper {
  div.dataTables_length {
    select {
      width: auto;
      display: inline-block;
    }
  }
  div.dataTables_filter {
    text-align: right;
    label {
      font-weight: normal;
      white-space: nowrap;
      text-align: left;
    }
    input {
      margin-left: 0.5em;
      display: inline-block;
      width: auto;
    }
  }
}
table.dataTable {
  > thead {
    > tr {
      > th {
        &:active {
          outline: none;
        }
        &:not(.sorting_disabled) {
          padding-right: 30px;
        }
      }
      > td {
        &:active {
          outline: none;
        }
        &:not(.sorting_disabled) {
          padding-right: 30px;
        }
      }
    }
    .sorting {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 1em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "↓";
      }
    }
    .sorting_asc {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 1em;
        content: "↑";
        opacity: 1;
      }
      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "↓";
      }
    }
    .sorting_desc {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 1em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "↓";
        opacity: 1;
      }
    }
    .sorting_asc_disabled {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 1em;
        content: "↑";
        opacity: 0;
      }
      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "↓";
      }
    }
    .sorting_desc_disabled {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 1em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5em;
        display: block;
        opacity: 0.3;
        right: 0.5em;
        content: "↓";
        opacity: 0;
      }
    }
  }
}

.dataTable tbody tr:hover {
  background: rgba(128, 128, 200, 0.5);
}

table tr.slave-jobs-time-labels-row {
  th {
    text-align: center;
  }
}
table tr.slave-job-count-row {
  font-weight: bold;
}
table tr.count-sep {
  * {
    height: 1px;
    background: black;
  }
}
table tr.slave-job-row,
table tr.slave-job-count-row {
  border: 0.1em solid white;
  * {
    padding: 0.25em;
  }
  th {
    border-radius: 3px 0px 0px 3px;
    background-color: #ccc;
    text-align: right;
  }
  td {
    color: #fff;
    text-shadow: #000 1px 1px;
    text-align: center;
    width: 100px;
    overflow: hidden;

    &.job-BEDROOM {
      background-color: #ccccff; /* BASE_PERIWINKLE */
    }
    &.job-CLEANING {
      background-color: #99ebff; /* BASE_BLUE_LIGHT */
    }
    &.job-DINING_HALL {
      background-color: #ffad8c; /* BASE_ORANGE_LIGHT */
    }
    &.job-GARDEN {
      background-color: #57db7e; /* BASE_GREEN */
    }
    &.job-IDLE {
      background-color: #999999; /* BASE_GREY_DARK */
    }
    &.job-KITCHEN {
      background-color: #edc491; /* BASE_TAN */
    }
    &.job-LAB_ASSISTANT {
      background-color: #b4d987; /* BASE_GREEN_LIME */
    }
    &.job-LIBRARY {
      background-color: #6cbcb1; /* BASE_TEAL */
    }
    &.job-MILKING {
      background-color: #f8f8b9; /* BASE_YELLOW_LIGHT */
      // color: #666;
    }
    &.job-OFFICE {
      background-color: #c8a2c8; /* BASE_LILAC */
    }
    &.job-PROSTITUTE {
      background-color: #ff33cc; /* BASE_PINK_DEEP */
    }
    &.job-PUBLIC_STOCKS {
      background-color: #f5a8ff; /* BASE_PINK_LIGHT */
    }
    &.job-SECURITY {
      background-color: #ff385d; /* BASE_CRIMSON */
    }
    &.job-SPA {
      background-color: #61ffff; /* BASE_AQUA */
    }
    &.job-SPA_RECEPTIONIST {
      background-color: #a7b7d2; /* BASE_BLUE_STEEL */
    }
    &.job-TEST_SUBJECT {
      background-color: #ee95a6; /* BASE_RED_LIGHT */
    }
  }
}

div#divTags {
  display: flex;
  flex-flow: row wrap;
  > span.tag {
    height: 2em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 0.5em;
    margin: 0.25em;
    border-radius: 1em;
    border: 1px solid #ccc;
    > label {
      margin-right: 0.5em;
    }
    > button {
      border: none;
      background: none;
      color: inherit;
    }
  }
}
div.tags-hdr {
  display: flex;
}
