:root {
  --divider: lightgrey;
  --divider-height: 510px; // Adjusted by CSS
}
div.gantt-chart {
  //   max-width: 1150px;
  //   padding: 0 10px;
  //   margin: 0 auto;
  position: relative;
  left: -200px;
  & * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  & ul {
    list-style: none;
  }
  & > ul.header-row {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    & > li {
      flex: 1;
      //   min-width: 80px;
      text-align: center;
      &:not(:last-child) {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          height: var(--divider-height);
          border-right: 1px solid var(--divider);
        }
      }
    }
  }
  //ul.item-row:nth-child(2) > li:nth-child(1)
  & > ul.item-row {
    width: 100%;

    & > li.header {
      position: relative;
      margin-bottom: 15px;
      //   font-size: 16px;
      //   border-radius: 20px;
      padding: 10px 20px;
      font-weight: bold;
      border-top: 1px dashed black;
    }
    & > ul > li.item {
      position: relative;
      margin-bottom: 1em;
      //   font-size: 16px;
      border-radius: 1em;
      padding: 0.5em 1em;
      width: 0;
      //   opacity: 0;
      //   transition: all 0.65s linear 0.2s;

      color: #fff;
      text-shadow: #000 1px 1px;
      text-align: center;

      &.job-BEDROOM {
        background-color: #ccccff; /* BASE_PERIWINKLE */
      }
      &.job-CLEANING {
        background-color: #99ebff; /* BASE_BLUE_LIGHT */
      }
      &.job-DINING_HALL {
        background-color: #ffad8c; /* BASE_ORANGE_LIGHT */
      }
      &.job-GARDEN {
        background-color: #57db7e; /* BASE_GREEN */
      }
      &.job-IDLE {
        background-color: #999999; /* BASE_GREY_DARK */
      }
      &.job-KITCHEN {
        background-color: #edc491; /* BASE_TAN */
      }
      &.job-LAB_ASSISTANT {
        background-color: #b4d987; /* BASE_GREEN_LIME */
      }
      &.job-LIBRARY {
        background-color: #6cbcb1; /* BASE_TEAL */
      }
      &.job-MILKING {
        background-color: #f8f8b9; /* BASE_YELLOW_LIGHT */
        // color: #666;
      }
      &.job-OFFICE {
        background-color: #c8a2c8; /* BASE_LILAC */
      }
      &.job-PROSTITUTE {
        background-color: #ff33cc; /* BASE_PINK_DEEP */
      }
      &.job-PUBLIC_STOCKS {
        background-color: #f5a8ff; /* BASE_PINK_LIGHT */
      }
      &.job-SECURITY {
        background-color: #ff385d; /* BASE_CRIMSON */
      }
      &.job-SPA {
        background-color: #61ffff; /* BASE_AQUA */
      }
      &.job-SPA_RECEPTIONIST {
        background-color: #a7b7d2; /* BASE_BLUE_STEEL */
      }
      &.job-TEST_SUBJECT {
        background-color: #ee95a6; /* BASE_RED_LIGHT */
      }
      //
    }
  }
}

@media screen and (max-width: 600px) {
  div.gantt-chart > ul.item-row > li {
    padding: 10px;
  }
}
