$fg: #999;
$bg: #fff;

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

#loading-spinner {
  z-index: 999;
  position: absolute;
  background: $bg;
  color: $fg;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;

  > div {
    display: flex;

    > {
      i {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
        display: inline-block;
        border-top: 1px solid $fg;
        border-left: 1px solid $fg;
        border-right: 1px solid $fg;
        border-bottom: 1px solid $bg;
        border-radius: 100%;
        animation: rotation 2s infinite linear;
      }

      span {
        display: inline-block;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
