section.map{
    span.room{
        --room-bg-colour:#bbbbbb;
        width:40px;
        height:40px;
        position: absolute;
        // fmt:off
        &.place-bg-unexplored{--room-bg-colour:#121212;}
        &.place-bg-pink{--room-bg-colour:#b2a4bb;}
        &.place-bg-dark{--room-bg-colour:#888888;}
        &.place-bg-dangerous{--room-bg-colour:#303030;}
        &.place-bg-blue{--room-bg-colour:#bbbbdd;}
        &.place-bg-green{--room-bg-colour:#bbddbb;}

        &.place-bg-base-grey{--room-bg-colour:#b3b3b3;} // BASE_GREY
        &.place-bg-base-crimson{--room-bg-colour:#ff385d;} // BASE_GREY
        // fmt:on
    }
}