@import "base";

@import "gantt"; //

@import "~bootstrap/scss/bootstrap";
//importing font awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.form-control#txtNewTags {
  width: 75%;
}

#table-slaves_wrapper {
  width: 100vw;
  height: 66vh;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  overflow: scroll;
  table#table-slaves {
    width: fit-content;
  }
  &.hide-ids {
    tr {
      th:nth-child(3),
      td:nth-child(3) {
        width: 0;
        min-width: 0;
        max-width: 0;
        overflow: hidden;
      }
    }
  }
  td {
    i {
      display: inline;
      font-size: smaller;
      padding-left: 0.3em;
    }
    &.col-id {
      color: #666;
      font-family: monospace;
    }
    &.col-sid {
      color: rgb(151, 86, 184);
      font-family: monospace;
      &:before {
        content: "⛧";
      }
    }
    // &.col-value {    }
  }
}

span.currency {
  &::before {
    // content: "¤";
    // color: #fff;
    // background: orange;
    content: url("../svg/currency.svg");

    width: 16px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.25em;
    font-size: 16px;
    line-height: 16px;
  }
  display: inline-flex;
  line-height: 16px;
}
