<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Slavesheet v0.0.1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style type="text/css" id="loading-style">{{- css.loading() -}}</style>
</head>

<body>
    <div id="loading-spinner"><div><i></i><span>Loading...</span></div></div>
</body>

</html>